{{ $tagpages := apply .Params.tags "printf" "<a href='/tags/%s'>%s</a>" "." "." }}
<article class="blog-body blog-post">
	<header>
		<h1>{{ .Title }}</h1>
		<div>
			<time>{{ .Date.Format "January 2, 2006" }}</time>
			<p><b>Tags:</b> {{ delimit $tagpages ", " }}</p>
		</div>
	</header>

	<hr>

	<figure class="primary-image">
		<a href='{{ (.Params.mainimage | .Resources.GetMatch).RelPermalink }}'>
			<img src='{{ ((.Params.mainimage | .Resources.GetMatch).Resize "x480 Gaussian q85").RelPermalink }}'
				alt="{{ .Title }}">
		</a>
	</figure>

	<div>
		{{ .Content }}
	</div>
</article>

<section class="blog-body pure-g">
	<header class="pure-u-1">
		<h2>More Articles</h2>
		<hr>
	</header>
	<div id="more-articles" class="pure-g">
		{{ range first 4 (where (where .Site.RegularPages "Section" "posts") "Params.title" "!=" .Params.title) }}
		{{- partial "nextarticle.html" . -}}
		{{ end }}
	</div>
</section>
