{{ define "main" }}
<section class="blog-body">
	<div class="pure-g">
		<aside class="pure-u-1">
			<header>
				<h2>Hello!</h2>
				<hr>
			</header>
			<p>I'm a systems engineer with a Land Rover addiction. Expect a lot of Land Rover bias, devops posts and
				articles on old technology, with a soup spoonful of bad puns.</p>
			<p>This blog is dedicated to posts related to my hobbies and parts of my work that I can share. I'll cover
				Land Rover restorations, gaming, programming, devops, computer repairs and any classic hardware that I
				can find.</p>
			<p>Check out my <a href="https://github.com/m1cr0man/">GitHub</a> to see what I'm actively working
				on!</p>
		</aside>
	</div>
</section>
{{ range first 1 .Site.RegularPages }}
{{- partial "post.html" . -}}
{{ end }}
{{ end }}
